body {
    background-color:#fffdfa;
    color:#333000;
    text-align: center;
    padding-left:3.0rem;
  }
  
  h1 {
    color:#333000;
    font-family: Manrope, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 4.6rem;
  }
  