body {
    background-color:#fffdfa;
    color:#333000;
    text-align: center;
    /* padding-left:3.0rem; */
  }
  
  h1 {
    color:#333000;
    font-family: Manrope, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 4.6rem;
  }

  h1::first-letter {
    font-size: 1.0em; /* Larger First Letter */
 }

 .closer-char {
    letter-spacing: 0px;
  }

.wider-char {
    letter-spacing: 3px;
  }
  
  /* countdown styles */
  
  #countdown {
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family:'Courier New', Courier, monospace;
  }
  
  .odometer {
    width: 50px;
    height: 60px;
    overflow: hidden;
    position: relative;
    border: 3px solid #333;
    border-radius: 10px;
    background: #333;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    margin-right: 5px;
  }

  .odo_white {
    color: #f00d0d;
    background:#fff
  }  
  
  .odometer .digit {
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease-out;
  }
  
  .digit span {
    display: block;
    height: 60px;
    line-height: 65px;
  }
  
  