body, html {
    margin: 0;
    padding: 0;
    height: 100%;  /* Ensures that the body and html are full height */
    background: url('images/background_tile_300.png') repeat;  /* Tiles the background image */
    overflow-x: hidden;  /* Prevents horizontal scrolling */
}

header {
    position: fixed;  /* Fixes the header's position relative to the viewport */
    top: 0;  /* Aligns the top of the header with the top of the viewport */
    right: 0;  /* Aligns the right of the header with the right of the viewport */
    padding: 20px;  /* Adds padding around the logo */
}

#logo {
    /*height: 50px; /* Adjusts the height of the logo */
}
